# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula02/build/
/Aula04/build/
/Aula06/build/
/Aula10ProjetoPessoas/build/
/Aula11/build/
/Aula12/build/
/CalculadoraIdade/build/
/controledecomissão/dist/
/controledecomissão/build/
/ExemploPessoa/build/
/ExemploProfessor/build/
/HerancaPessoa/build/
/LerNota/build/
/principal/build/
/ProjetoLivro/build/
/RelogioSwing/build/
/SomaSwing/build/
/testecarro02/build/
/TesteFunc/build/
/TesteLampada/build/
/testeretângulo/build/
/UltraEmojiCombat/build/
/ControledeComissao3/nbproject/private/
/ControledeComissao3/build/
/ControledeComissao3/dist/
/Comissão 2/build/
/Comissão 2/dist/
/Comissão 2/nbproject/private/
/Aula13/nbproject/private/
/Aula13/build/
/interfaceGrafica/nbproject/private/
/InterfaceGrafica1/nbproject/private/
/InterfaceGrafica1/build/